/* Header */

.header, .footer {
    flex: 0 0 auto;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    border-bottom: 3px solid rgb(74, 74, 74);
    background-color: $lightbeige;
    color: #333;
}

/* Title */

.logo {
    margin-left: 50px;
}

.title, .logo {
    padding: 3em 3em 3em 0;
}

.title * {
    color: #333;
}

.title p {
    font-style: italic;
}
