/* Main */

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: $body-background;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    color: $font-color;
}

.main {
    flex: 1 0 auto;
    width: 50%;
    margin: 0 auto;
    padding: 30px 20px 20px;
    border-left: 1.5px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: $main-background;

    a {
        color: $link-color;
    }
}

.theme-div {
    width: auto;
    height: auto;
    border-radius: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: $text-font;
    margin-top: 370px;
    right: 0;
    margin-right: 260px;
    font-size: 2rem;
    color: $font-color; 

    a {
        color: $font-color; 
    }
}
