/* Mobile menu */

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

@media (max-width: 500px) {
    .css, .html, .javascript, .php, .python, .git, .sqlite, .picture {
        grid-column: 1/4;
    }
}

@media (max-width: 767px) {
    .main {
        width: 85%;
    }

    .header {
        flex-direction: column;
    }

    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .tech-menu {
        display: none;
    }

    .tech-content {
        width: 100%;
    }

    .theme-div {
        display: none;

        a {
            display: none;
        }
    }
}
