@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Noto+Serif+Balinese&display=swap');

$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

$text-font: 'Montserrat', sans-serif;
$head-font: 'Noto Serif Balinese', serif;
$beige: rgb(231, 221, 214);
$lightbeige: rgb(249, 246, 243);
$darkbeige: rgb(189, 172, 161);
