@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


// Fonts
$text-font: 'Montserrat', sans-serif;
$head-font: 'Noto Serif Balinese', serif;
$title-font: 'Great Vibes', cursive;

$font-color: #333;

// Backgrounds
$footer-background: #594F54;
$body-background: #f8f8f8;
$background-image: url('../../../assets/img/background-medium.jpg');
$main-background: #f8f8f8;

$tech-img: linear-gradient(to bottom, #5F8461 0%, #a9c9ab 100%);

// Colors
$border-color: rgb(90, 90, 90);
$code-background: #f5f5f5;
$table-light: #f5f5f5;
$table-dark: #d2d2d2;
$link-color: rgb(34, 102, 165);

$brightness: brightness(100%);
