@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Noto+Serif+Balinese&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

// Fonts
$text-font: 'Montserrat', sans-serif;
$head-font: 'Noto Serif Balinese', serif;
$title-font: 'Great Vibes', cursive;

$font-color: #fff;

// Color variables
$darkgray: #222;
$gray: #3e3e3e;

// Backgrounds
$footer-background: $darkgray;
$body-background: $darkgray;
$background-image: url('../../../assets/img/background-dark.jpg');
$main-background: $gray;

$tech-img: linear-gradient(to bottom, #222 0%, #121212 100%);

// Colors
$border-color: $gray;
$code-background: #616161;
$table-light: #616161;
$table-dark: $gray;
$link-color: rgb(180, 202, 180);

$brightness: brightness(85%);
