{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="single-technology">
            <div class="tech-menu">
                <h2>Meny</h2>
                {% for page in pages("technology") %}
                    <div>
                        <p><a href="{{ page.url }}">{{ page.title }}</a></p>
                    </div>
                {% endfor %}
            </div>

            <div class="tech-content">
                {{ content }}
            </div>
        </div>
    </div>

    <div class="theme-div">
        <a href="?action=session_destroy" title="Light mode" role="button">
            <i class="fas fa-sun" aria-hidden="true"></i>
            <span class="sr-only">Light mode</span>
        </a>
        <a href="?action=theme" title="Dark mode" role="button">
            <i class="fas fa-moon" aria-hidden="true"></i>
            <span class="sr-only">Dark mode</span>
        </a>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
