{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="single-technology">
            <div class="tech-menu">
                <h2>Meny</h2>
                {% for page in pages("technology") %}
                    <div>
                        <p><a href="{{ page.url }}">{{ page.title }}</a></p>
                    </div>
                {% endfor %}
            </div>

            <div class="tech-content">
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
